body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
  
}

p{
    line-height: 2;
}

h1 {
    
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #5A8F7B;
    
  
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #5A8F7B;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{

    font-family: 'Montserrat', sans-serif;
    color: #81CACF ;
}


a{
    color: #81CACF;
    margin: 0 10px;
    text-decoration: none;
 }



 a:hover{
    color: darkcyan;
 }
.top-container{
    background-color: #31505c;
    position: relative;
    padding-top: 300px;
    

}

hr{
   border: dotted 8px;
   border-bottom: none;
   width: 6%;
   margin-top: 30px;
}

.top-cloud{
   position:absolute;
   top: 200px;
   right: 500px;

   
   
}

.contct{
    width: 40%;
    margin: 40px auto;
}

.bot-cloud{
    position: absolute;
    left: 500px;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skillimg1{
    float: left;
    margin-right: 30px;
    
}
.profile{
    padding-top: 10px;
}

.skillimg2{
    float: right;
    margin-left: 30px;
}

.contact-me{
    line-height: 2;
}

.buttn{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #31505c;
    border: none;
}

.middle-container{
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
    
}

.bottom-container{
    background-color: #31505c;
    padding: 50px 0 20px;
}

.copyright{
    color: azure;
    padding: 20px 0;
}